<div [ngClass]="{'d-none': !isCreateChannelFormVisible}" class="create-new-channel-form-wrapper">
  <div class="top-section">
    <h1>Channel erstellen</h1>
    <div class="pointer close-icon" (click)="toggleCreateChannelVisibility()" (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()">
      <img [src]="currentIconSourceClose" alt="close-icon" />
    </div>
  </div>
  <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span>
  <form class="create-channel-form" [formGroup]="channelData" (ngSubmit)="createChannel()" *ngIf="channelData">
    <span>Channel-Name</span>
    <input placeholder="# z.B. Kooperationsprojekte" formControlName="channelName" />

    @if (channelData.get('channelName')?.invalid && channelData.get('channelName')?.touched) {
    <span class="error-msg">
      {{ errorMsgChanNameInvalid }}
    </span>
    }
    @if (chanNameExists) {
    <span class=" error-msg">
      {{ errorMsgChanExists }}
    </span>
    }
    <span>Beschreibung</span>
    <input placeholder="Dein Text hier..." formControlName="channelDescription" />

    <button class="pointer submit-btn" type="submit" [disabled]="channelData.invalid || chanNameExists">
      Erstellen
    </button>
  </form>
</div>
<!--add Member to channel code-->
<div [ngClass]="{'d-none': !isAddMemberVisibleForm}" class="add-member-wrapper">
  <div class="top-section" (click)="this.toggleAddMemberFormVisibility()">
    <h1>Leute hinzufügen</h1>
    <div class="pointer close-icon" (click)="toggleCreateChannelVisibility()" (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()">
      <img [src]="currentIconSourceClose" alt="close-icon" />
    </div>
  </div>
  <div class="add-member-container">



    <div class="selector-container">
      <div class="pointer checkbox-outside" (click)="toggleSearchInput('channel')">
        <div class="checkbox-inside" [ngClass]="{ 'd-none': !showChannelSerach }">
        </div>
      </div>
      <span>Alle Mitglieder eines Channels hinzufügen</span>
    </div>

    @if (showChannelSerach) {
    <form class="searchbar-container">
      <input class="searchbar" type="text" (focus)="channelSearchActive = true" placeholder="Channel Namen eingeben"/>

      @if (channelSearchActive) {
        <div class="channel-list">
            <app-channel-selection></app-channel-selection>
          </div>
        }

    </form>
  }

    <div class="selector-container">
      <div class="pointer checkbox-outside" (click)="toggleSearchInput('user')">
        <div class="checkbox-inside"[ngClass]="{ 'd-none': !showUserSearch }">
        </div>
      </div>
      <span>Nach bestimmten Nutzern suchen</span>
    </div>

    @if (this.searchService.selectedUser.length > 0) {}
    <div class="show-selected-users">
      @for (user of this.searchService.selectedUser; track user; let index = $index) {
        <div class="pointer added-member" (click)="this.searchService.removeSelectedUserFromArray(user)">
          <img [src]="this.firebaseService.getUserAvatar(user)" alt="profile-pic" />
          <span>{{ this.firebaseService.getUserDisplayName(user) }}</span>
          <div class="remove-user">
            <img src="assets/img/icons/close_black.png" alt="close-icon" />
          </div>
        </div>
      }
    </div>
    

    @if (showUserSearch) {
      <form class="searchbar-container" [formGroup]="searchText">
        <input class="searchbar" type="text" placeholder="Benutzer Namen eingeben" formControlName="search"
          (input)="this.searchService.onSearch(this.searchText.value.search)" (focus)="this.searchService.onFocus(this.searchText.value.search)"/>

          @if (this.searchService.memberSearchActive && this.searchService.userSearchResults.length > 0) {
            <div class="user-list">
                <app-channel-member-selection></app-channel-member-selection>
              </div>
            }
      </form>
  }


  </div>
<div class="submit-btn-container">
  <button class="pointer submit-btn" type="button">
    Erstellen
  </button>
</div>

</div>