<div class="thread-wrapper">
    <div class="top-section">
        <div class="top-section-left">
            <h1>Thread</h1>
            <!--channel name or Name of user who initially sent msg which got answers-->
            <span># Entwicklerteam</span>
        </div>
        <div class="top-section-right">
            <div class="close pointer" (mouseover)="onMouseOver()"(mouseout)="onMouseOut()" (click)="handleClickOnClose()">
                <img [src]="currentIconSourceClose" alt="close">
            </div>
        </div>
    </div>
    <div class="thread-history">
        <app-thread-history></app-thread-history>
    </div>
    <div class="chat-input">       
        <app-chat-input 
            [sourceComponent]="'thread'" 
            [destinationCollection]="'threads'"
            [destinationDocRef]="'this.firebaseService.selectedThreadId'"
            [placeholderText]="'this.chatService.placeholderName'"
            (messageEvent)="'this.chatService.onMessageSent($event)'">
        </app-chat-input>
    </div>
     
</div>
