@import "../../../../styles.scss";

.current-user-profile-wrapper {
	@include dFlex(column, space-around, flex-start);

	width: 300px;
	height: 654px;
	border-radius: 30px 0 30px 30px;
	padding: 45px 40px 45px 40px;
	gap: 24px;
	background-color: $white;
	box-sizing: content-box;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-top-section {
	@include dFlex(row, space-between, center);
	width: 100%;
	
	h1 {
		@include Nunito(700, 24px, 32.73px, $black);
	}
}

.profile-avatar {
	@include dFlex(row, center, center);
	gap: 20px;
	width: 100%;
	position: relative;

	img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.pofile-avatar-hover {
	span {
		@include Nunito(700, 30px, 40px, $white);
		position: absolute;
		right: 72px;
		bottom: 80px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&:hover span {
		opacity: 1;
	}

	&:hover img {
		opacity: 0.75;
	}
}

.profile-bottom-section {
	@include dFlex(column, flex-start, flex-start);
	gap: 20px;
	width: 100%;

	.profile-name {
		@include dFlex(row, space-between, center);
		width: 100%;

		p {
			@include Nunito(600, 18px, 24.55px, $purple-3);
			transition: all 0.2s ease-in-out;

			&:hover {
				scale: 1.1;
			}
		}
	}

	h2 {
		@include Nunito(700, 32px, 43.65px, $black);
	}

	.profile-status {
		@include dFlex(row, flex-start, center);
		width: 100%;
		gap: 15px;

		.online-status {
			@include dFlex(row, center, center);
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

		p {
			@include Nunito(400, 20px, 27.28px, $text-gray);
		}
	}

	.profile-email-container {
		@include dFlex(row, flex-start, center);
		width: 100%;

		.email-container {
			@include dFlex(row, flex-start, center);
			gap: 20px;
		}

		img {
			width: 25px;
			height: 20px;
		}

		p {
			@include Nunito(700, 20px, 27.28px, $black);
		}
	}

	.profile-email-adress {
		@include dFlex(row, flex-start, center);
		width: 100%;
		padding: 0 10px 0 50px;

		p {
			@include Nunito(400, 18px, 24.55px, $email-blue);
		}
	}
}

// edit user profile

.edit-user-form {
	width: 100%;

	.edit-input-container {
		@include dFlex(column, flex-start, flex-start);
		width: 100%;
		gap: 7px;
		margin-bottom: 24px;
		position: relative;

		.input-description {
			@include dFlex(row, flex-start, center);
			width: 100%;
			gap: 20px;

			img {
				width: 30px;
				height: 30px;
			}

			p {
				@include Nunito(700, 20px, 27.28px, $black);
			}
		}

		input {
			width: 100%;
			height: 52px;
			border-radius: 30px;
			border: 1px solid $purple-2;
			padding: 15px 20px 15px 20px;
			outline: none;
			@include Nunito(400, 16px, 21.82px, $black);
		}

		.error-msg-name {
			@include Nunito(400, 14px, 19.1px, $rosa-error);
			position: absolute;
			top: 92px;
			left: 0;
		}
		.error-msg-email {
			@include Nunito(400, 14px, 19.1px, $rosa-error);
			position: absolute;
			top: 92px;
			left: 0;
		}
		.info-msg-email {
			@include Nunito(400, 14px, 19.1px, $purple-1);
			position: absolute;
			top: 92px;
			left: 0;
		}
	}
}

.error-msg-guest {
	@include Nunito(400, 14px, 19.1px, $rosa-error);
}

// edit user avatar
.avatar-container {
	@include dFlex(column, center, center);
	width: 100%;

	span {
		@include Nunito(700, 20px, 27.28px, $black);
	}
	.avatar-selection {
		@include dFlex(row, center, center);
		gap: 8px;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: 0.2s ease-in-out;

			&:hover {
				scale: 1.1;
				border: 2px solid $black;
			}
		}
	}
}

// global btn container
.btn-container {
	@include dFlex(row, center, center);
	gap: 32px;
	width: 100%;
	margin-top: 20px;

	.cancel-btn {
		width: 141px;
		height: 49px;
		border-radius: 50px;
		background-color: $white;
		border: solid 1px $purple-2;
		@include Nunito(700, 18px, 24.55px, $purple-1);
		transition: 0.2s ease-in-out;

		&:hover {
			color: $white;
			background-color: $purple-1;
		}
	}

	.save-btn {
		width: 133px;
		height: 49px;
		border-radius: 50px;
		background-color: $purple-1;
		border: none;
		@include Nunito(700, 16px, 21.82px, $white);
		transition: 0.2s ease-in-out;

		&:hover {
			opacity: 0.8;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}
}

input[type="file"] {
	display: none;
}

.upload-image {
	@include dFlex($fd: column);
	gap: 12px;
	width: 100%;
	span {
		@include Nunito(400, 20px, 27.28px, $black);
	}
}

.button-wrap {
	@include dFlex();
	.button-blue {
		@include buttonBlue();
	}
	.button-white {
		@include buttonWhite();
	}
}

