<h1>Avatar</h1>
<form
	[formGroup]="avatarForm"
	(ngSubmit)="onSubmit()"
>
	<div class="avatar-preview">
		<img src="{{ avatarSig() }}" />
		<h2>{{ this.authService.currentUserSig()?.username }}</h2>
	</div>
	<div class="select-avatar-from-list">
		<span>Aus der Liste wählen</span>
		<div class="avatar-list">
			@for (avatar of [1,2,3,4,5,6]; track avatar) {
			<div class="input-box">
				<input
					id="avatar_{{ avatar }}"
					type="radio"
					name="avatar"
					value="assets/img/character-images/character_{{ [avatar] }}.png"
					formControlName="avatar"
				/>
				<label for="avatar_{{ avatar }}">
					<img
						src="assets/img/character-images/character_{{ [avatar] }}.png"
						alt=""
					/>
				</label>
			</div>
			}
		</div>
	</div>
	@if(errorMessage) {
	<span>{{ errorMessage }}</span>
	}
	<div class="upload-image">
		<span>eigenes Bild verwenden</span>
		<div class="button-wrap">
			<button class="button-white">Datei hochladen</button>
		</div>
	</div>
	<div class="submit-button-box">
		<div class="button-wrap">
			<button
				class="button-blue"
				type="submit"
				[disabled]="!avatarForm.valid"
			>
				Weiter
			</button>
		</div>
	</div>
</form>
<button
	class="back-button"
	routerLink="/register"
>
	<img src="assets/img/icons/arrow_back.png" />
</button>
