{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"printWidth": 120,
	"overrides": [
	  {
		"files": ["*.ts", "*.tsx"],
		"options": {
		  "tabWidth": 2,
		  "useTabs": false,
		  "semi": true,
		  "singleQuote": true,
		  "printWidth": 120,
		  "parser": "typescript"
		}
	  },
	  {
		"files": ["*.html"],
		"options": {
		  "tabWidth": 2,
		  "useTabs": false,
		  "semi": false,
		  "singleQuote": false,
		  "printWidth": 120,
		  "parser": "angular"
		}
	  }
	]
  }
  