<div class="mobile-menu-wrapper">
	<div class=" btn-container">
		<div class="toggle-btn pointer"
			(click)="this.communicationService.closeMobileMenuPopupOverlay('mobileUserMenu')"></div>
	</div>
	<div class="menu-container">
		<div class="pointer menu-content" [ngClass]="{'active': activeMenu === 'profile'}"
			(click)="setActiveMenu('profile')">
			<img src="assets/img/icons/account_circle_input_black.png" alt="account-circle">
			<p (click)="this.communicationService.toggleCurrentUserProfileVisibility(true); this.communicationService.toggleMobileUserMenu()">Profil</p>
		</div>
		<div class="pointer menu-content" [ngClass]="{'active': activeMenu === 'logout'}"
			(click)="setActiveMenu('logout')">
			<img src="assets/img/icons/logout_black.png" alt="logout-icon">
			<p>Log out</p>
		</div>
	</div>
</div>