<div class="group-chat-container">
	@for (channel of this.firebaseService.channelList; track channel; let index= $index) {
	<div class="group-display">
		<div
			class="active-group-chat"
			(mouseover)="toggleImgSrc()"
			(mouseout)="toggleImgSrc()"
			(click)="toggleShowChannelDetails()"
		>
			<img [src]="hashtag" alt="" />
			@if (channel.chanId === this.firebaseService.currentChanId) {
			<span>{{channel.name}}</span>
			}
			<img class="pointer" [src]="dropdownArrow" alt="" />
		</div>
		<div class="avatar-collection">
			<div class="user-profile-img-container pointer" (click)="handleClickOnMember()">
				@for(member of channel.members; track member; let index = $index) {
				@if(index < 3) {
				<img
					[ngStyle]="{ left: getLeftStyleValue(index) + 'px' }"
					class="user-profile-img"
					src="{{ this.firebaseService.getUserAvatar(member) }}"
					alt=""
				/>
				} }
			</div>
			<div class="user-counter">
				<span>{{ channel.members.length }}</span>
			</div>
			<button class="add-btn pointer" (click)="toggleAddMembersToChannel()">
				<img src="assets/img/icons/person_add.png" alt="Add button" />
			</button>
		</div>
	</div>
	}
	<div class="chat-history">
		<app-chat-history></app-chat-history>
	</div>

	<div class="chat-input">
		<app-chat-input
			[sourceComponent]="'channel'"
			[placeholderText]="this.chatService.placeholderName"
			(messageEvent)="this.chatService.onMessageSent($event)"
		></app-chat-input>
	</div>

</div>
