<div class="group-chat-container">
	<div class="group-display">
		<div
			class="active-group-chat"
			(mouseover)="toggleImgSrc()"
			(mouseout)="toggleImgSrc()"
			(click)="toggleShowChannelDetails()"
		>
			<img [src]="hashtag" alt="" />
			<span>{{this.firebaseService.getChannelName()}}</span>
			<img class="pointer" [src]="dropdownArrow" alt="" />
		</div>
		<div class="avatar-collection">
			<div class="user-profile-img-container">
				@for(user of users; track user.id; let index = $index) {
				@if(index < 3) {
				<img
					[ngStyle]="{ left: getLeftStyleValue(index) + 'px' }"
					class="user-profile-img"
					src="{{ user.profileImg }}"
					alt=""
				/>
				} }
			</div>
			<div class="user-counter">
				<span>{{ users.length }}</span>
			</div>
			<button class="add-btn pointer">
				<img src="assets/img/icons/person_add.png" alt="Add button" />
			</button>
		</div>
	</div>

	<div class="chat-container">

		<div class="message"></div>

		<div class="chat-input">
			<app-chat-input
				[sourceComponent]="'channel'"
				[destinationCollection]="'channels'"
				[destinationDocRef]="'docRef'"
				[placeholderText]="'Nachricht an #channel.name'"
				(messageEvent)="this.chatService.onMessageSent($event)"
			></app-chat-input>
		</div>
	</div>
</div>
