<div class="header-wrapper">
  <div class="header-container">
	<div class="logo-container">
		<img class="" src="assets/img/logos/da_bubble_logo.png" alt="" />
		<span>DABubble</span>
	</div>
	<div class="searchbar-container">
		<form class="" [formGroup]="searchText">
			<input class="header-searchbar" type="text" placeholder="Devspace durchsuchen" formControlName="search"
			(input)="this.handleSearch()" (focus)="this.handleFocus()" />
		</form>

		<!-- onFocus -->
		@if (isFocusActive) {
			<div class="search-results">
			<h3>Users:</h3>
			@for (user of this.firebaseService.userList; track user; let index = $index) {
				@if(index < 5 && user.userId !== this.firebaseService.currentUserId) {
					<div class="member-container pointer mb-8 width100 jc-unset" (click)="handleClickOnMember(user.userId)">
						<div class="user-avatar">
							<img [src]="this.firebaseService.getUserAvatar(user.userId)" alt="User Avatar" />
						<div class="user-status"
							[ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(user.userId), 'offline': !this.firebaseService.getUserOnlineStatus(user.userId) }">
							</div>
						</div>
							<span>{{ this.firebaseService.getUserDisplayName(user.userId) }}</span>
					</div>
				}
			}	
			<h3>Channels:</h3>
			@for (channel of this.firebaseService.channelList; track channel; let index = $index) {
				<div class="content-container pointer" (click)="handleClickOnChannel(channel.chanId)">
					<span>{{ '#' + channel.name }}</span>
				</div>
			}
			</div>
		}


		<!-- Search resault -->
		@if (this.showUsers || this.showChannels) {
			<div class="search-results">
			<!--user search results-->
			@if(showUsers) {
				<h3>Users:</h3>
				@for (user of this.searchService.userSearchResults; track user; let index = $index) {
					@if(index < 5 && user !== this.firebaseService.currentUserId) {
						<div class="member-container pointer mb-8 width100 jc-unset" (click)="handleClickOnMember(user)">
							<div class="user-avatar">
								<img [src]="this.firebaseService.getUserAvatar(user)" alt="User Avatar" />
							<div class="user-status"
								[ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(user), 'offline': !this.firebaseService.getUserOnlineStatus(user) }">
								</div>
							</div>
								<span>{{ this.firebaseService.getUserDisplayName(user) }}</span>
						</div>
					}
				}	
			}
			<!--channel search results-->
			@if (showChannels) {
				<h3>Channels:</h3>
				@for (channel of this.firebaseService.channelList; track channel; let index = $index) {
					<div class="content-container pointer" (click)="handleClickOnChannel(channel.chanId)">
						<span>{{ '#' + channel.name }}</span>
					</div>
				}
			}
			</div>
		}
	</div>	




  <div class="user-avatar">
    <span>{{ this.firebaseService.getUserDisplayName(this.firebaseService.currentUserId) }}</span>
    <img src="{{ this.firebaseService.getUserAvatar(this.firebaseService.currentUserId)}}" alt="User Image" />
    <div class="user-status"
      [ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(this.firebaseService.currentUserId), 'offline': !this.firebaseService.getUserOnlineStatus(this.firebaseService.currentUserId) }">
    </div>
    <div class="drop-down" (click)="toggleUserProfile(true)">
      <img class="pointer" src="assets/img/icons/keyboard_arrow_down_inactive.png" alt="Dropdown Arrow" />
    </div>
  </div>
</div>

  
  
