@import '../../../styles.scss';

.header-container {
  padding: 24px;
  @include dFlex(space-between, center);
  align-items: center;
  >.user-avatar {
    @include dFlex("center", "center" );
    gap: 16px;
    >img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }
    >span {
      align-self: center;
    }

  }
}
