<div class="group-chat-container">
  <div class="group-display">
    <div class="active-group-chat">
      <img src="../../../assets/img/icons/hashtag-chat.png" alt="" />
      <span>Entwicklerteam</span>
      <img
        class="pointer"
        src="../../../assets/img/icons/keyboard_arrow_down_inactive.png"
        alt=""
      />
    </div>
  </div>
  <div class="avatar-colection">
    <img
      src="../../../assets/img/character-images/character_1.png"
      alt=""
    />
    <img
      src="../../../assets/img/character-images/character_2.png"
      alt=""
    />
    <img
      src="../../../assets/img/character-images/character_3.png"
      alt=""
    />
  </div>
  <div class="chat-container">

  </div>
</div>
