<div class="thread-history-wrapper">
    @for (msg of this.threadService.msgAnswerList; track msg; let index = $index) {
        @if (msg.messageSendBy !== this.firebaseService.currentUserId) {
        <!--user-msg-->
        <div class="user-msg">
            <!--msg-menu-->
            <div class="msg-menu">
                <div class="menu-content pointer"
                (click)="this.reactionService.addSpecificReaction(msg.messageAnswerId, this.reactionService.setReactionThumbUp, 'thread'); this.reactionService.currentMessageId = msg.messageAnswerId">
                <div class="emoji-container"> 👍 </div>
              </div>
              <div class="menu-content pointer"
                (click)="this.reactionService.addSpecificReaction(msg.messageAnswerId, this.reactionService.setReactionThumbDown, 'thread'); this.reactionService.currentMessageId = msg.messageAnswerId">
                <div class="emoji-container"> 👎 </div>
              </div>
                <div class="pointer menu-content" (click)="toggleEmojiPicker(index)">
                    <img src="assets/img/icons/add_reaction_black.png" alt="menu-icon">
                </div>
            </div>
            <!--user-avatar-->
            <div class="user-avatar">
                <img [src]="this.firebaseService.getUserAvatar(msg.messageSendBy)" alt="user-avatar">
            </div>
            <!--msg-content-->
            <div class="msg-content">
                <div class="msg-top">
                    <span class="pointer" (click)="this.communicationService.handleClickOnUser(msg.messageSendBy)">{{ this.firebaseService.getUserDisplayName(msg.messageSendBy) }}</span>
                    <p>{{ this.chatService.formatTimeString(msg.time) }}</p>
                </div>
    
                <div class="msg">
                    <span>{{ msg.text }}</span>
                    @if (msg.editCount > 0) {
                        <div class="edited-msg-info">
                            <p>Bearbeitet: {{this.chatService.formatTimeString(msg.lastEdit)}}</p>
                        </div>
                    }
                </div>   
                    <!--reactions container-->
                    <div class="reactions-container">
                        @for (reaction of msg.reactions; track reaction; let index = $index) {
                            <div class="pointer last-reaction" (click)="this.reactionService.deleteReaction(reaction.reactionId, msg.messageAnswerId, 'thread')">
                              <div class="emoji-container">
                                {{reaction.nativeEmoji}}
                              </div>
                              <span class="emoji-counter">{{reaction.amount}}</span>
                            </div>
                            } 
                        <div class="pointer add-reaction" (click)="toggleEmojiPicker(index)">
                            <img src="assets/img/icons/add_reaction_black.png" alt="menu-icon">
                        </div>
                    </div>
                    <!-- emoji Picker-->
                        @if (index === emojiPickerIndex) {
                            @if (showEmojiPicker) {
                                <div class="emoji-picker-container">
                                    <emoji-mart></emoji-mart>
                                </div>
                                }
                            }
            </div>
        </div>
            <!--seperator with answer count-->
    @if (index == 0) {
        <div class="msg-answer-counter">
            @if (this.threadService.msgAnswerList.length == 2) {
            <span>{{this.threadService.msgAnswerList.length - 1}} Anwort</span>
            } @else {
            <span>{{this.threadService.msgAnswerList.length - 1}} Anworten</span>
            }
            <div class="seperator"></div>
        </div>      
        }
   }

            <!--current-user-msg-->
            @if (msg.messageSendBy == this.firebaseService.currentUserId) {
            <div class="current-user-msg"> 
                <!--msg-menu only displayed for current user-->
                <div class="msg-menu">
                    <div class="menu-content pointer"
                    (click)="this.reactionService.addSpecificReaction(msg.messageAnswerId, this.reactionService.setReactionThumbUp, 'thread'); this.reactionService.currentMessageId = msg.messageAnswerId">
                    <div class="emoji-container"> 👍 </div>
                  </div>
                  <div class="menu-content pointer"
                    (click)="this.reactionService.addSpecificReaction(msg.messageAnswerId, this.reactionService.setReactionThumbDown, 'thread'); this.reactionService.currentMessageId = msg.messageAnswerId">
                    <div class="emoji-container"> 👎 </div>
                  </div>
                    <div class="pointer menu-content">
                        <img src="assets/img/icons/add_reaction_black.png" alt="menu-icon" (click)="toggleEmojiPicker(index)">
                    </div>
                    <div class="pointer menu-content"
                    (click)="toggleMsgMenu()">
                        <img src="assets/img/icons/more_vert_black.png" alt="menu-icon">
                    </div>

                    <!--sub menu "edit-msg"-->
                    @if (this.communicationService.isMsgMenuThreadVisible) {
                    <div class="edit-msg-menu">   
                        <!--add logic to edit msg-->
                        <div class="edit-msg pointer" (click)="handleClickOnEditMsg(msg.messageAnswerId, msg.messageId, index)">
                            <span>Nachricht bearbeiten</span>
                        </div>
                        <!--add logic to delete msg-->
                        @if (index > 0) {
                        <div class="edit-msg pointer" (click)="handleClickOnDeleteMsg(msg.messageId, msg.messageAnswerId)">
                            <span>Nachricht löschen</span>
                        </div>
                        }
                    </div>
                }
                </div>
                <!--msg-content-->
                <div class="current-user-msg-content">
                    <div class="current-user-msg-top">
                        <p>{{ this.chatService.formatTimeString(msg.time) }}</p>
                        <span class="pointer" (click)="this.communicationService.handleClickCurrentUser(true)">{{ this.firebaseService.getUserDisplayName(this.firebaseService.currentUserId) }}</span>
                    </div>
        
                    <div class="current-user-msg">
                        <span>{{ msg.text }}</span>
                        @if (msg.editCount > 0) {
                            <div class="edited-msg-info">
                                <p>Bearbeitet: {{this.chatService.formatTimeString(msg.lastEdit)}}</p>
                            </div>
                        }
                    </div>   
                    <!--reactions container-->
                    <div class="reactions-container">
                        @for (reaction of msg.reactions; track reaction; let index = $index) {
                            <div class="pointer last-reaction" (click)="this.reactionService.deleteReaction(reaction.reactionId, msg.messageAnswerId, 'thread')">
                              <div class="emoji-container">
                                {{reaction.nativeEmoji}}
                              </div>
                              <span class="emoji-counter">{{reaction.amount}}</span>
                            </div>
                            } 
                        <div class="pointer add-reaction" (click)="toggleEmojiPicker(index)">
                            <img src="assets/img/icons/add_reaction_black.png" alt="menu-icon">
                        </div>
                    </div>
                </div>
                <div class="current-user-avatar">
                    <img [src]="this.firebaseService.getUserAvatar(this.firebaseService.currentUserId)" alt="user-avatar">
                </div>
            </div>
        <!-- emoji Picker-->
         @if (index === emojiPickerIndex) {
            @if (showEmojiPicker) {
                <div class="emoji-picker-container">
                    <emoji-mart></emoji-mart>
                </div>
            }
        }

    <!--seperator with answer count-->
    @if (index == 0) {
        <div class="msg-answer-counter">
            @if (this.threadService.msgAnswerList.length == 2) {
                <span>{{this.threadService.msgAnswerList.length - 1}} Anwort</span>
                } @else {
                <span>{{this.threadService.msgAnswerList.length - 1}} Anworten</span>
                }
            <div class="seperator"></div>
        </div>      
        }
    }
    
    
    }
<!--popUp overlay for editing specific current user msg-->
@if (showEditMsgOverlay) {
    <div class="edit-msg-overlay">
        <div class="left-section">
            <form class="edit-msg-form" [formGroup]="newMsgData" (submit)="onSubmitEditMsgAnswer()">
                <div class="top-section">
                    <textarea placeholder="Nachricht bearbeiten" formControlName="text"></textarea>
                </div>
                <div class="bottom-section">
                    <div class="bottom-left pointer">
                        <img src="assets/img/icons/add_reaction_black.png" alt="add-reaction-icon">
                    </div>
                    <div class="bottom-right">
                        <button type="button" class="cancel-btn pointer" (click)="handleClickOnCancel()">
                            <span>Abbrechen</span>
                        </button>
                        <button type="submit" class="save-btn pointer">
                            <span>Speichern</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="right-section">
            <div class="current-user-avatar">
                <img [src]="this.firebaseService.getUserAvatar(this.firebaseService.currentUserId)" alt="user-avatar">
            </div>
        </div>
    </div>
    }
    <!--popUp overlay for deleting specific current user msg-->
@if (this.communicationService.isDeleteThreadMsgDialogVisible) {
    <div class="delete-msg-dialog">
        <span>Möchtest du diese Nachricht wirklich löschen?</span>
        <div class="dialog-btns">
            <button class="cancel-btn pointer" (click)="handleClickOnCancelDeleteMsg()">
                <span>Abbrechen</span>
            </button>
            <button class="delete-btn pointer" (click)="handleClickOnConfirmDeleteMsg()">
                <span>Löschen</span>
            </button>
        </div>
    </div>
    }
</div>
