<form class="input-container" [formGroup]="messageData" (ngSubmit)="onSubmit()">
  <textarea
    placeholder="Nachricht an #Office-team"
    formControlName="message"
  ></textarea>
  <div class="button-container">
    <div class="left-section">
      <div
        class="icon-container pointer"
        (mouseover)="onMouseOver('add')"
        (mouseout)="onMouseOut('add')"
      >
        <img [src]="iconSourceAdd" alt="" />
      </div>
      <img
        class="pointer"
        src="assets/img/icons/vertical_line_grey.png"
        alt=""
      />
      <div
        class="icon-container pointer"
        (mouseover)="onMouseOver('smiley')"
        (mouseout)="onMouseOut('smiley')"
      >
        <img [src]="iconSourceSmiley" alt="" />
      </div>
      <div
        class="icon-container pointer"
        (mouseover)="onMouseOver('alternate_email')"
        (mouseout)="onMouseOut('alternate_email')"
      >
        <img [src]="iconSourceAlternateEmail" alt="" />
      </div>
    </div>
    <div class="right-section">
      <button type="submit">
        <img class="pointer" src="assets/img/icons/send_dark_blue.png" alt="" />
      </button>
    </div>
  </div>
</form>
