<div class="input-container">
  <textarea name="msg" placeholder="Nachricht an #Office-team"></textarea>
  <div class="button-container">
    <div class="left-section">
      <img class="pointer" src="assets/img/icons/add_grey.png" alt="">
      <img class="pointer" src="assets/img/icons/vertical_line_grey.png" alt="">
      <img class="pointer" src="assets/img/icons/smiley_grey.png" alt="">
      <img class="pointer" src="assets/img/icons/alternate_email_grey.png" alt="">
    </div>
    <div class="right-section">
      <img class="pointer" src="assets/img/icons/send_dark_blue.png" alt="">
    </div>
</div>
