@import '../../../../styles.scss';
@import '../channel-member-selection/channel-member-selection.component.scss';

.input-container {
  padding: 20px;
  height: 145px;
  border-radius: 20px;
  border: 1px solid $purple-2;
  position: relative;
  > textarea {
    width: 100%;
    height: 60%;
    border: none;
    outline: none;
    resize: none;
    @include Nunito(400, 16px, 21.82px, $black);
    }
    >.button-container {
      @include dFlex(row,space-between, center);
      >.left-section {
        @include dFlex(row,center, center);
        gap: 16px;
        >.icon {
          width: 24px;
          height: 24px;
        }
        >span {
          @include Nunito(700, 16px, 21.82px, $text-gray);
        }
      }
      >.right-section {
        >button {
          @include dFlex(row,center, center);
          border: none;
          background-color: $white;
          transition: filter 0.3s ease-in-out;
          &:hover img {
            filter: brightness(1.3);
            opacity: 0.8;
          }
        }
      }
    }
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include dFlex(center, center);
  transition: ease-in-out 0.1s;
  &:hover {
    background-color: $bg-color;
  }
  &:hover img {
    filter: invert(57%) sepia(94%) saturate(4679%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
}

.emoji-picker-container {
  position: absolute;
  bottom: 172px;
  left: 16px;
  z-index: 1;
}

.tag-container {
  position: absolute;
  bottom: 172px;
  left: 16px;
  z-index: 1;
}
