    <!--SideNav start-->
    <div class="sidenav-wrapper">
        <div class="sidenav-content">
          <div class="sidenav-header">
            <div class="sidenav-header-left">
            <img
              class="sidenav-logo"
              src="../../assets/img/workspace_logo.png"
              alt="logo"
            />
            <h1>Devspace</h1>
            </div>
            <img
              class="start-conversation pointer"
              src="../../assets/img/icons/edit_square.png"
              alt="edit-icon"
            />
          </div>
  
          <div class="channels-container">
            <div class="channels-headline">
              <img
                class="pointer"
                src="../../assets/img/icons/arrow_drop_down.png"
                alt="arrow-down-icon"
              />
  
              <div class="channels-sidenav-wrapper">
                <img
                  class=""
                  src="../../assets/img/icons/workspaces.png"
                  alt="workspaces-icon"
                />
                <h2>Channels</h2>
              </div>
  
              <img
                class="pointer"
                src="../../assets/img/icons/add_black.png"
                alt="add-icon"
              />
            </div>
            <div class="channels-content">
              <!--embedd channel-list app here-->
  
              <span> # Entwicklerteam</span>
              <div class="add-channel">
  
                <img
                class="pointer"
                src="../../assets/img/icons/add_circle.png"
                alt="add-icon"
              />
              <span>Channel hinzufügen</span>
              </div>
            </div>
          </div>
  
          <div class="private-conversation-container">
            <img
              class="pointer"
              src="../../assets/img/icons/arrow_drop_down.png"
              alt="arrow-down-icon"
            />
            <img
              class="pointer"
              src="../../assets/img/icons/account_circle.png"
              alt="account-circle-icon"
            />
            <span>Direktnachrichten</span>
            <!--embedd private-messages-list app here-->
          </div>
        </div>
      </div>
      <!--SideNav end-->
