<section>
    <header>
        <div [routerLink]="['']" class="pointer">
            <img src="assets/img/logos/da_bubble_logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-button pointer" [routerLink]="['']">
			<img src="assets/img/icons/arrow_back.png" alt="">
		</div>
        <h1>Impressum</h1>
        <p>
            hier Namer<br>
            hier str<br>
            plz, stadt<br>
            Deutschland<br>
        </p><br>
        <h2>Kontakt</h2>
        <p>
            E-Mail: <a href="mailto:">email&#64;email.de</a><br>
        </p>
    </main>
</section>