<h1>Passwort zurücksetzen</h1>
<form [formGroup]="pwResetForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="input-with-error">
    <div class="input-box">
      <img src="assets/img/icons/password.png" alt="" />
      <input type="{{ inputType }}" placeholder="Neues Passwort" formControlName="password" />
      <img src="{{ visibilityIcon }}" alt="" class="visibility-icon" (click)="changePasswordVisibility()" />
    </div>
    @if (formInvalid(pwResetForm.controls.password)) {
      @if (pwResetForm.controls.password.errors?.["required"]) {
        <p class="error-message">*Bitte geben Sie ein Passwort ein.</p>
      }
      @if (pwResetForm.controls.password.errors?.["minlength"]) {
        <p class="error-message">*Das Passwort muss mindestens 6 Zeichen lang sein.</p>
      }
    }
  </div>
  <div class="input-with-error">
    <div class="input-box">
      <img src="assets/img/icons/password.png" alt="" />
      <input type="{{ inputType }}" placeholder="Neues Passwort bestätigen" formControlName="confirmPassword" />
    </div>
    @if (pwResetForm.controls.confirmPassword.touched || pwResetForm.controls.confirmPassword.dirty) {
      @if (pwResetForm.errors?.["comparePasswords"]) {
        <p class="error-message">
          {{ pwResetForm.errors?.["comparePasswords"] }}
        </p>
      }
    }
  </div>
  <div class="button-wrap">
    <button class="button-blue" type="submit" [disabled]="!pwResetForm.valid">Passwort ändern</button>
  </div>
</form>
