<div class="private-msg-wrapper">
	<div class="top-section">

		@for (privateMsg of firebaseService.privateChatList; track privateMsg.privatChatId; let index = $index) {
			@if (privateMsg.privatChatId === this.chatService.docRef) {
				@if (privateMsg.chatCreator == this.firebaseService.currentUserId) {

			<div class="user-content pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatReciver)">
				<img [src]="this.firebaseService.getUserAvatar(privateMsg.chatReciver)" alt="User Avatar" />
				<div class="user-status"
					[ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(privateMsg.chatReciver), 'offline': !this.firebaseService.getUserOnlineStatus(privateMsg.chatReciver) }">
				</div>
				<span>{{ this.firebaseService.getUserDisplayName(privateMsg.chatReciver) }}</span> 
			</div>
				}
			}
        }
		@for (privateMsg of firebaseService.privateChatList; track privateMsg.privatChatId; let index = $index) {
			@if (privateMsg.privatChatId === this.chatService.docRef) {
				@if (privateMsg.chatReciver == this.firebaseService.currentUserId) {
			<div class="user-content pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatCreator)">
				<img [src]="this.firebaseService.getUserAvatar(privateMsg.chatCreator)" alt="User Avatar" />
				<div class="user-status"
					[ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(privateMsg.chatCreator), 'offline': !this.firebaseService.getUserOnlineStatus(privateMsg.chatCreator) }">
				</div>
				<span>{{ this.firebaseService.getUserDisplayName(privateMsg.chatCreator) }}</span> 
			</div>
		}
			}
        }
	</div>



	<div class="chat-history">
	@for (privateMsg of firebaseService.privateChatList; track privateMsg.privatChatId; let index = $index) {
		@if (privateMsg.privatChatId === this.chatService.docRef) {
			@if (chatService.msgList.length === 0) {
			<div class="empty-chat-overlay">
				<div class="top-section">
					<div class="user-avatar">
					@if (privateMsg.chatCreator == this.firebaseService.currentUserId) {
						<img [src]="this.firebaseService.getUserAvatar(privateMsg.chatReciver)" alt="User Avatar" />
					}
					@if (privateMsg.chatReciver == this.firebaseService.currentUserId) {
						<img [src]="this.firebaseService.getUserAvatar(privateMsg.chatCreator)" alt="User Avatar" />
					}
					</div>
					@if (privateMsg.chatCreator == this.firebaseService.currentUserId) {
					<h1 class="pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatReciver)">{{this.firebaseService.getUserDisplayName(privateMsg.chatReciver)}}</h1>
					}
					@if (privateMsg.chatReciver == this.firebaseService.currentUserId) {
						<h1 class="pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatCreator)">{{this.firebaseService.getUserDisplayName(privateMsg.chatCreator)}}</h1>
						}
				</div>
				<div class="bottom-section">
					@if (privateMsg.chatCreator == this.firebaseService.currentUserId) {
					<span>Diese Unterhaltung findet nur zwischen</span><p class="pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatReciver)">{{'@'+this.firebaseService.getUserDisplayName(privateMsg.chatReciver)}}</p><span>und dir statt.</span>
					}
					@if (privateMsg.chatReciver == this.firebaseService.currentUserId) {
						<span>Diese Unterhaltung findet nur zwischen</span><p class="pointer" (click)="this.communicationService.handleClickOnUser(privateMsg.chatCreator)">{{'@'+this.firebaseService.getUserDisplayName(privateMsg.chatCreator)}}</p><span>und dir statt.</span>
						}
				</div>
			</div>
			}
		}
	}
		<app-chat-history></app-chat-history>
	</div>
	<div class="chat-input">
		<app-chat-input (messageEvent)="this.onMessageSent($event)"></app-chat-input>
	</div>
</div>