<div class="private-msg-wrapper">
	@for (privateMsg of firebaseService.privateChatList; track
	privateMsg.privatChatId; let index = $index) {
	<div class="private-msg-top-section" (click)="openProfile()">
		<div class="private-msg-user pointer">

			@if (showPrivateNote) {
			<img [src]="this.firebaseService.currentUser.photoURL" alt="User Avatar" />
			} @else {
			<img [src]="
					this.firebaseService.getUserAvatar(privateMsg.chatCreator)
				" alt="User Avatar" />
			} @if (showPrivateNote) {
			<div class="private-msg-user-status online"></div>
			} @else {
			<div class="private-msg-user-status" [ngClass]="{
					online: this.firebaseService.isUserOnline(
						privateMsg.chatCreator
					),
					offline: !this.firebaseService.isUserOnline(
						privateMsg.chatCreator
					)
				}"></div>
			}
					@if (showPrivateNote) {
		<span>{{ this.firebaseService.currentUser.name }} (Du)</span>} @else {
		<span>{{
			this.firebaseService.getUserDisplayName(privateMsg.chatCreator)
			}}</span>}
		</div>

	</div>
	}
	<div class="chat-input">
		<app-chat-input [sourceComponent]="'privateMessage'" [destinationCollection]="'privateChats'"
			[destinationDocRef]="'privatChatId'" [placeholderText]="'Nachricht an chatCreator.name ODER currentUser.name'"
			(messageEvent)="this.chatService.onMessageSent($event)"></app-chat-input>
	</div>
</div>