<h1>Passwort zurücksetzen</h1>
<h2>Bitte geben Sie Ihre E-Mail-Adresse ein.</h2>
<form [formGroup]="pwResetForm" (ngSubmit)="onSubmit()">
	<div class="input-with-error">
		<div class="input-box">
			<img src="assets/img/icons/email.png" alt="" />
			<input
				type="text"
				placeholder="beispielname@email.com"
				formControlName="email"
			/>
		</div>
		@if (formInvalid(pwResetForm.controls.email)) { @if
		(pwResetForm.controls.email.errors?.['required']) {
		<p class="error-message">*Bitte schreiben Sie eine E-Mail-Adresse.</p>
		} @if (pwResetForm.controls.email.errors?.['email']) {
		<p class="error-message">*Dies ist keine gültige E-Mail-Adresse</p>
		} }
	</div>
	<h3>
		Wir senden Ihnen eine E-Mail, über die Sie Ihr Password ändern können.
	</h3>
	<div class="button-wrap">
		<button
			class="button-blue"
			type="submit"
			[disabled]="!pwResetForm.valid"
		>
			E-Mail senden
		</button>
	</div>
</form>
