<div class="channel-member-wrapper" [ngClass]="
{'full-width': this.communicationService.isMobileViewActive}">
    <div class="top-section">
        <div class="top-section-left">
            <h1>Mitglieder</h1>
        </div>

        <div class="close-btn pointer"
		[ngClass]="{ 'd-none': this.communicationService.isMobileViewActive }"
		(click)="this.communicationService.toggleChannelMemberVisibility(false)" >
                <img src="assets/img/icons/close_black.png" alt="close">
        </div>

    </div>
	@if(this.firebaseService.channelList.length) {
		<div class="member-section">
			@for (channel of this.firebaseService.channelList; track channel; let index = $index) {
				@if (channel.chanId == chatService.docRef) {
				@for (member of channel.members; track member; let index = $index) {
				<div class="member-container pointer" (click)="handleClickOnMember(member)">
					<div class="user-avatar">
						<img [src]="this.firebaseService.getUserAvatar(member)" alt="User Avatar" />
					<div class="user-status"
						[ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(member), 'offline': !this.firebaseService.getUserOnlineStatus(member) }">
					  </div>
					  </div>
					  <span>{{ this.firebaseService.getUserDisplayName(member) }}</span>
					  @if(this.firebaseService.currentUser.userId === member){
						<span>(Du)</span>
					  }
				</div>
				}
				}
			}  
		</div>
	}
 
<div class="add-member pointer" (click)="openAddMember()">
    <div class="add-member-icon">
        <img src="assets/img/icons/person_add.png" alt="add member" />
    </div>
    <span>Mitglied hinzufügen</span>

</div>


</div>
