<div class="add-members-container">
	<div class="headline">
		<span>Leute Hinzufügen</span>
		<div class="close-button pointer" (click)="closeWindow()">
			<img src="assets/img/icons/close_black.png" alt="" />
		</div>
	</div>
	<div class="current-channel-name">
		<img src="assets/img/icons/hashtag_chat_active.png" alt="" />
		<span>{{ this.chatService.getChannelName() }}</span>
	</div>

	<input
		[(ngModel)]="userName"
		class="search-input"
		type="text"
		placeholder="Namen eingeben"
		(keyup)="this.searchService.searchUsersByName()"
		(click)="toggleDisplayUsers();"

	/>

	@if(searchService.savedUserForChannel[0]){
		<div class="show-user deletable-user">
			<img src="{{ this.firebaseService.getUserAvatar(this.searchService.savedUserForChannel[this.searchService.savedUserForChannel.length - 1]) }}" alt=""  />
			<span>{{ this.firebaseService.getUserDisplayName(this.searchService.savedUserForChannel[this.searchService.savedUserForChannel.length - 1]) }}</span>
			<img class="pointer" (click)="this.chatService" src="assets/img/icons/close_black.png" alt="">
		</div>
	}

	@if(this.searchService.memberSearchActive) {
		<div class="search-results">
			<app-channel-member-selection></app-channel-member-selection>
		</div>
	}
	<button [disabled]="!this.searchService.savedUserForChannel[0]" (click)="this.searchService.addSavedUserToChannel()">Hinzufügen</button>
</div>
