<div class="add-members-container">
	<div class="headline">
		<span>Leute Hinzufügen</span>
		<div class="close-button pointer" (click)="closeWindow()">
			<img src="assets/img/icons/close_black.png" alt="" />
		</div>
	</div>
	<div class="current-channel-name">
		<img src="assets/img/icons/hashtag_chat_active.png" alt="" />
		<span>{{ firebaseService.getChannelName() }}</span>
	</div>

	<input
		[(ngModel)]="userName"
		class="search-input"
		type="text"
		placeholder="Namen eingeben"
		(keyup)="firebaseService.getUserByNameAndSaveInArray(userName)"
		(click)="toggleDisplayUsers()"
	/>

	@if(firebaseService.savedUserForChannel[0]){
		<div class="show-user deletable-user">
			<img src="{{ firebaseService.getUserAvatar(firebaseService.savedUserForChannel[firebaseService.savedUserForChannel.length - 1]) }}" alt=""  />
			<span>{{ firebaseService.getUserDisplayName(firebaseService.savedUserForChannel[firebaseService.savedUserForChannel.length - 1]) }}</span>
			<img class="pointer" (click)="firebaseService.deleteUserFromSavedUserForChannel(firebaseService.savedUserForChannel[firebaseService.savedUserForChannel.length - 1])" src="assets/img/icons/close_black.png" alt="">
		</div>
	}

	<div class="search-results" [ngClass]="{'d-none': !displayUsers}">
		@if(!firebaseService.filteredUsers[0]) {
			 @for(user of firebaseService.userList; track user.userId; let index =$index) {
				 @if(index < 5) {
					<div class="show-user pointer" [ngClass]="{'disabled': checkIfUserIsAlreadyAdded(user.userId)}" (click)="firebaseService.addUserToChannelslist(user.userId)" >
						<img src="{{ user.photoURL }}" alt="" />
						<span>{{ user.name }}</span>
					</div>
				}
			}
		} @else if(firebaseService.filteredUsers[0]) {
			@for(user of firebaseService.filteredUsers; track user.userId; let index =$index) {
				@if(index < 5) {
					<div class="show-user pointer" [ngClass]="{'disabled': checkIfUserIsAlreadyAdded(user.userId)}" (click)="firebaseService.addUserToChannelslist(user.userId)">
						<img src="{{ user.photoURL }}" alt=""  />
						<span>{{ user.name }}</span>
					</div>
				}
			}
		}
	</div>
	<button [disabled]="!firebaseService.savedUserForChannel[0]" (click)="firebaseService.addSavedUserToChannel()">Hinzufügen</button>
</div>
