@import "../../../../../styles.scss";

.add-members-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 514px;
	padding: 40px;
	background-color: $white;
	border-radius: 20px 0px 20px 20px;
	gap: 20px;
	position: absolute;
	top: 200px;
	right: 60px;
}

.headline {
	@include Nunito(700, 24px, 32.79px, $black);
	@include dFlex(row, space-between, center);
	width: 100%;
	margin-bottom: 5px;
}

.close-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: $white;
	@include dFlex(center, center);
	&:hover {
		@include btnHover($bg-color);
	}
	&:active {
		@include btnActive($bg-color);
	}
	> img {
		width: 20px;
		height: 20px;
	}
}

.current-channel-name {
	@include dFlex(row, start, center);
	gap: 8px;
	> img {
		height: 18px;
		width: 18px;
	}
	> span {
		@include Nunito(400, 18px, 24.55px, $purple-2);
	}
}

.search-input {
	@include inputField();
	padding: 15px 20px;
}

button {
	width: 33%;
	align-self: flex-end;
	@include buttonBlue();
}

.search-results {
    position: absolute;
    background: white;
	padding: 15px 20px;
    border-radius: 0px 20px 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    max-width: fit-content;
    top: 196px;
    left: 62px;
}

.show-user {
	width: fit-content;
	@include dFlex(row, start, center);
	gap: 8px;
	margin-bottom: 8px;
	padding: 8px 16px;
	border-radius: 30px;
	> img {
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
	&:hover {
		@include btnHover($bg-color);
	}
}

.disabled {
	background-color: lighten($color: grey, $amount: .2);
	> img {
		filter: grayscale(100%);
	}
	&:hover {
		background-color: lighten($color: grey, $amount: .2);
		cursor: not-allowed;
	}
}

.d-none {
	display: none;
}