<div class="welcome-screen-wrapper">
  <div class="logo-container">
    <img src="assets/img/logos/da_bubble_logo.png" alt="DABubble Logo" />
    <span class="headline">DABubble</span>
  </div>
  <h1>Willkommen bei DABubble – Ihre Team-Kommunikationslösung</h1>

  <p>DABubble ist eine leistungsstarke Chat-Applikation, die speziell für die effiziente und nahtlose Kommunikation
    innerhalb Ihres Teams entwickelt wurde. Inspiriert von Slack, bietet DABubble alle Funktionen, die Sie für eine
    produktive Zusammenarbeit benötigen.</p>

  <p>Unser engagiertes Team von drei Entwicklern hat diese Anwendung innerhalb von nur fünf Wochen
    realisiert. Dabei
    haben wir moderne Technologien eingesetzt, um Ihnen eine optimale Benutzererfahrung zu bieten:</p>

  <ul>
    <li><strong>Angular 17:</strong> Ein fortschrittliches JavaScript-Framework, das für seine Leistungsfähigkeit und
      Flexibilität bekannt ist.</li>
    <li><strong>Firebase:</strong> Eine robuste Backendlösung, die Echtzeit-Datenverarbeitung und Skalierbarkeit
      gewährleistet.</li>
  </ul>

  <h2>Wie Sie DABubble nutzen können:</h2>

  <ul>
    <li><strong>Channel auswählen:</strong> Navigieren Sie durch die Seitenleiste, um verschiedene Channels für
      Gruppenunterhaltungen zu finden. Sie können auch ganz einfach einen neuen Channel erstellen, um spezielle Themen
      oder Projekte zu besprechen.</li>
    <li><strong>Private Chats:</strong> Starten Sie einen privaten Chat mit einem Kollegen, um vertrauliche oder
      individuelle Gespräche zu führen.</li>
    <li><strong>Direktnachrichten:</strong> Unter "Direktnachrichten" in der Seitenleiste finden Sie:
      <ul>
        <li><strong>Notizfunktion:</strong> Machen Sie sich Notizen, verwalten Sie Ihre To-Dos oder speichern Sie
          wichtige Links.</li>
        <li><strong>Aktive private Chats:</strong> Behalten Sie den Überblick über alle laufenden privaten
          Unterhaltungen.</li>
      </ul>
    </li>
  </ul>

  <h3>Gemeinsam stark: DABubble fördert Teamarbeit und Effizienz, indem es Ihnen die Werkzeuge zur Verfügung stellt, die
    Sie für eine reibungslose Kommunikation benötigen. Entdecken Sie, wie DABubble Ihr Arbeitsumfeld positiv verändern
    kann!</h3>
</div>