@import "../../../../styles.scss";


.welcome-screen-wrapper {
    @include dFlex(column, space-around, center);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: $white;
    padding: 20px 20px;
    h1 {
        @include Nunito(700, 24px, 32.73px, $black);
    }

    .icon-container {
        @include dFlex(row, space-around, center);
        width: 100%;
        img {
            width: 100px;
            height: 100px;
            background-color: black;
        }
    }
    
}