<div class="new-message-wrapper">

  <div class="new-message-top">
    <h1>Neue Nachricht</h1>
    <form class="searchbar-container" [formGroup]="searchText">
      <input class="searchbar" type="text" placeholder="An: #channel oder @jemanden oder E-Mail Adresse"
        formControlName="search" (input)="this.onSearch()" />
    </form>
  </div>


  <div class="chat-input">
    <app-chat-input [sourceComponent]="'newMessage'" [placeholderText]="'Starte eine neue Nachricht'" (messageEvent)="this.chatService.onMessageSent($event)"></app-chat-input>
  </div>

</div>