<div class="new-message-wrapper">

  <div class="new-message-top">
    <h1>Neue Nachricht</h1>
    <form class="searchbar-container" [formGroup]="searchText">
      <input class="searchbar" type="text" placeholder="An: #channel oder @jemanden oder E-Mail Adresse"
        formControlName="search" (input)="this.handleSearch()" />
    </form>

    <!--user search results-->
    @if (showUsers) {
      <div class="search-results">
        @for (user of this.firebaseService.userList; track user; let index = $index) {
          <div class="content-container pointer" (click)="handleClickOnMember(user.userId)">
              <span>{{ '@' + this.firebaseService.getUserDisplayName(user.userId) }}</span>
        </div>
        }
      </div>
      }


      <!--channel search results-->
      @if (showChannels) {
      <div class="search-results">
        @for (channel of this.firebaseService.channelList; track channel; let index = $index) {
          <div class="content-container pointer" (click)="handleClickOnChannel(channel.chanId)">
              <span>{{ '#' + channel.name }}</span>
        </div>
        }
      </div>  
    }
    </div>



  <div class="chat-input">
    <app-chat-input [sourceComponent]="'newMessage'" [placeholderText]="'Starte eine neue Nachricht'" (messageEvent)="this.chatService.onMessageSent($event)"></app-chat-input>
  </div>

</div>