<div class="chat-container">
  <div class="masseges">
    <div class="get-message">ich bin ein test</div>

    <div class="send-message">
      <div class="current-user">
        <div class="current-user-message">
          <span class="time">15:05 Uhr</span>
          <span class="user-name">Max Mustermann</span>
        </div>

        <img
          class="user-img"
          src="assets/img/character-images/character_1.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="input-container"></div>
</div>
