<div class="private-msg-wrapper">
  @if (this.firebaseService.currentUser) {
  <div class="private-msg-container pointer" (click)="onMessageClick(this.firebaseService.currentUser.privateNoteRef);this.communicationService.togglePrivateNote(true); this.chatService.setPlaceholderName(this.firebaseService.currentUser.name)"
    [ngClass]="{ 'active': selectedMessageId === (this.firebaseService.currentUser.privateNoteRef) }"
    [routerLink]="['/home/private-message', this.firebaseService.currentUser.privateNoteRef]"
    >
    <div class="user-avatar">
      <img [src]="this.firebaseService.getUserAvatar(this.firebaseService.currentUserId)"
        alt="{{this.firebaseService.currentUser.name}}'s avatar" />
      <div class="user-status"
        [ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(this.firebaseService.currentUserId), 'offline': !this.firebaseService.getUserOnlineStatus(this.firebaseService.currentUserId) }">
      </div>
    </div>
    <span> {{this.firebaseService.getUserDisplayName(this.firebaseService.currentUserId)}} (Du)</span>
  </div>
  } @for (privateMsg of firebaseService.privateChatList; track privateMsg.privatChatId; let index = $index)
  {
  <div class="private-msg-container pointer" [routerLink]="['/home/private-message', privateMsg.privatChatId]"
    (click)="this.firebaseService.getChatCreatorIdByDocRef(privateMsg.privatChatId);onMessageClick(privateMsg.privatChatId); this.communicationService.togglePrivateNote(false);this.chatService.setPlaceholderName(this.firebaseService.getUserDisplayName(privateMsg.chatCreator))"
    [ngClass]="{ 'active': selectedMessageId === privateMsg.privatChatId }">
    <div class="user-avatar">
      <img [src]="this.firebaseService.getUserAvatar(privateMsg.chatCreator)" alt="User Avatar" />
      <div class="user-status"
        [ngClass]="{ 'online': this.firebaseService.getUserOnlineStatus(privateMsg.chatCreator), 'offline': !this.firebaseService.getUserOnlineStatus(privateMsg.chatCreator) }">
      </div>
    </div>
    <span>{{ this.firebaseService.getUserDisplayName(privateMsg.chatCreator) }}</span>
  </div>
  }
</div>