<div class="private-msg-wrapper">
@if (this.firebaseService.currentUser) {
  <div class="private-msg-user"
  [routerLink]="['/home/private-message', this.firebaseService.currentUser.privateNoteRef]"
  (click)="selectMessage()">
    <div
      class="private-msg-user pointer">
      <div class="private-msg-user-avatar">
        <img [src]="this.firebaseService.currentUser.photoURL" alt="{{this.firebaseService.currentUser.name}}'s avatar" />
        <div
          class="private-msg-user-status"
          [ngClass]="{ 'online': this.firebaseService.currentUser.status, 'offline': !this.firebaseService.currentUser.status }"
        ></div>
      </div>
      <span> {{this.firebaseService.currentUser.name}} (Du)</span>
    </div>
  </div>
  } @for (privateMsg of firebaseService.privateChatList; track privateMsg.privatChatId; let index = $index)
  {
  <div class="private-msg-list">
    <div
      class="private-msg-user pointer"
      [routerLink]="['/home/private-message', privateMsg.privatChatId]"
      (click)="selectMessage()"
    >
      <div class="private-notes"></div>
      <div class="private-msg-user-avatar">
        <img
          [src]=""
          alt=""
        />
        <div
          class="private-msg-user-status"
          [ngClass]=""
        ></div>
      </div>
      <span>{{ privateMsg.chatCreator }}</span>
    </div>
  </div>
  }
</div>
