<div class="private-msg-wrapper">
@if (currentUser) {
  <div class="private-msg-user">
    <div
      class="private-msg-user pointer"
      [ngClass]="{ active: selectedConversation === currentUser[0].name }"
      (click)="navigateToPrivateConversation(currentUser[0].name)"
    >
      <div class="private-msg-user-avatar">
        <img [src]="currentUser[0].photoURL" alt="{{ currentUser[0].name }}'s avatar" />
        <div
          class="private-msg-user-status"
          [ngClass]="currentUser[0].onlineStatus"
        ></div>
      </div>
      <span>{{ currentUser[0].name }} (Du)</span>
    </div>
  </div>
  } @for (privateMsg of privateMsgList; track privateMsg.privatChatId; let index = $index)
  {
  <div class="private-msg-list">
    <div
      class="private-msg-user pointer"
      [ngClass]="{ active: selectedConversation === privateMsg.chatReciver }"
      (click)="navigateToPrivateConversation(privateMsg.chatReciver)"
    >
      <div class="private-notes"></div>
      <div class="private-msg-user-avatar">
        <img
          [src]=""
          alt=""
        />
        <div
          class="private-msg-user-status"
          [ngClass]=""
        ></div>
      </div>
      <span>{{ privateMsg.chatReciver }}</span>
    </div>
  </div>
  }
</div>
