@import "../../../../../styles.scss";

.sidenav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 32px 30px 32px 30px;
  background-color: $white;
  box-sizing: border-box;
}

.sidenav-content {
  @include dFlex(column, flex-start, flex-start);
  width: 306px;
  height: 100%;
  gap: 25px;
}

.sidenav-header {
  width: 100%;
  margin-bottom: 32px;
  margin-top: 16px;
  gap: 4px;
  @include dFlex(row, space-between, center);
  h1 {
    margin: unset !important;
    white-space: nowrap;
    @include Nunito(700, 24px, 32.74px, $black);
  }
}

.sidenav-headline-left {
  @include dFlex(row, flex-start, center);
  width: 250px;
  height: 60px;
  padding: 0px 20px 0px 0px;
  gap: 15px;
}

.sidenav-logo {
  height: 60px;
  width: 60px;
}

.sidenav-headline-right {
  @include dFlex(row, center, center);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  gap: 10px;
  transition: ease-in-out 0.1s;
  &:hover {
    background-color: $bg-color;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

.channels-container {
  @include dFlex(row, flex-start, flex-start);
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.channels-headline-wrapper {
  @include dFlex(row, space-between, center);
  width: 100%;
  h2 {
    @include Nunito(700, 20px, 27.28px, $black);
  }
}

.channels-sidenav-left {
  @include dFlex(row, flex-start, center);
  gap: 10px;

  &:hover {
    h2 {
      @include Nunito(700, 20px, 27.28px, $purple-3);
    }
  }
  h2 {
    @include Nunito(700, 20px, 27.28px, $black);
  }
}

.channels-sidenav-right {
  @include dFlex(row, center, center);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  gap: 10px;
  transition: ease-in-out 0.1s;

  &:hover {
    background-color: $bg-color;
  }
  img {
    width: 24px;
    height: 24px;
  }
}
.channels-content {
  margin-bottom: 25px;
  span {
    @include Nunito(400, 18px, 24.55px, $black);
  }
}

.add-channel {
  @include dFlex(row, flex-start, center);
  gap: 10px;
  margin-left: 12px;
  span{
    @include Nunito(400, 18px, 24.55px, $black);
  }
 
  &:hover {
    span{
      color: $purple-3;
    }
  }
}

.private-msg-container {
  @include dFlex(row, flex-start, flex-start);
  flex-direction: column;
  span {
    @include Nunito(700, 20px, 27.28px, $black);
  }
}

.private-msg-headline {
  @include dFlex(row, flex-start, center);
  gap: 10px;

  h2 {
    @include Nunito(700, 20px, 27.28px, $black);

  }
  &:hover {
    h2 {
      @include Nunito(700, 20px, 27.28px, $purple-3);
    }
  }
}

// SideNav end
