@import "../../../styles.scss";

.group-chat-container {
  position: relative;
  height: 88vh;
  width: 1000px;
  border-radius: 30px;
  background-color: $white;
  > .group-display {
    padding: 25px 45px;
    @include dFlex(space-between, center);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.1);
    > .active-group-chat {
      @include dFlex(center, center);
      gap: 16px;

      > img:first-child {
        width: 22px;
        height: 23px;
      }

      > span {
        @include Nunito(700, 24px, 18.8px, $black);
      }

      > img:last-child {
        width: 24px;
        height: 24px;
      }
    }
    > .avatar-colection {
      position: relative;
      @include dFlex(center, center);
      gap: 16px;
      > .user-profile-img-container {
        width: 92px;
        > .user-profile-img {
          position: absolute;
          bottom: calc(50% - 20px);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 3px solid $white;
        }
      }
      .user-counter {
        @include Nunito(600, 20px, 27.28px, $black);
      }
      .add-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: $bg-color;
        @include dFlex(center, center);
        &:hover {
          @include btnHover($bg-color);
        }
        &:active {
          @include btnActive($bg-color);
        }
      }
    }
  }
}

.chat-container {
  height: 93%;
  padding: 35px 40px;
  @include dFlex(center, center);
  flex-direction: column;
  gap: 24px;
  > .message {
    @include dFlex(end, end);
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    flex-grow: 1;
  }
}

.chat-input {
  width: 100%;
}
