<div class="group-chat-container">
  <div class="group-display">
    <div class="active-group-chat">
      <img src="assets/img/icons/hashtag-chat.png" alt="" />
      <span>Entwicklerteam</span>
      <img
        class="pointer"
        src="assets/img/icons/keyboard_arrow_down_inactive.png"
        alt=""
      />
    </div>
    <div class="avatar-colection">
      <div class="user-profile-img-container">
        @for(user of users; track user.id; let index = $index) { @if(index < 3)
        {
        <img
          [ngStyle]="{ left: getLeftStyleValue(index) + 'px' }"
          class="user-profile-img"
          src="{{ user.profileImg }}"
          alt=""
        />
        } }
      </div>
      <div class="user-counter">
        <span>{{ users.length }}</span>
      </div>
      <button class="add-btn pointer">
        <img src="assets/img/icons/person_add.png" alt="Add button" />
      </button>
    </div>
  </div>

  <div class="chat-container">
    <div class="message">

    </div>

    <div class="chat-input">
      <app-chat-input (messageEvent)="handleMessage($event)"></app-chat-input>
    </div>

  </div>



</div>
