@import "../../../../../styles.scss";

button {
	border: none;
	background: none;
}

.channel-details {
	width: 872px;
	height: 616px;
	background-color: $white;
	padding: 30px;
	border-radius: 0 30px 30px 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.left-section {
	@include dFlex(row, center, center);
	gap: 8px;
	> img {
		width: 20px;
		height: 20px;
	}
	> span {
		@include Nunito(700, 24px, 20px, $black);
	}
}

.headline {
	@include dFlex(row, space-between, center);
}

.close-btn {
	@include dFlex(center, center);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	&:hover {
		@include btnHover($bg-color);
	}
	&:active {
		@include btnActive($bg-color);
	}
}

.channel-name {
	@include dFlex(column, flex-start, center);
	gap: 20px;
}

.top-section {
	width: 100%;
	@include dFlex(row, space-between, center);
	gap: 20px;
	> img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	> span:first-child {
		@include Nunito(700, 18px, 20px, $black);
	}
	> .save-button {
		@include Nunito(600, 18px, 20px, $email-blue);
		&:hover {
			@include Nunito(700, 18px, 20px, $email-blue);
		}
	}
}
.headline-container {
	width: 100%;
	@include dFlex(row, none, center);
	gap: 4px;
	> span {
		@include Nunito(400, 18px, 20px, $black);
	}
}

.channel-name-input {
	@include inputField();
}

input::placeholder, textarea::placeholder {
	@include Nunito(400, 18px, 24.55px, $text-gray);
}

.input-img {
	background-image: url("../../../../../assets/img/icons/hashtag_chat_inactive.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 18px;
}

.border-style {
	padding: 20px;
	border-radius: 20px;
	border: 1px solid $purple-2;
	transition: all 0.175s ease;
}

.change-channel-name-active {
	border: none;
	padding: 0;
	transition: all 0.175s ease;
}

.d-flex-col {
	display: flex;
    flex-direction: column;
    gap: 24px;
	
}

.divider {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
}

.creator-name-headlight {
	@include Nunito(00, 24px, 32.74px, $purple-2);
}

.d-flex-start {
	@include dFlex(column, unset, flex-start);
	gap: 24px;
}

.exit-button {
	@include buttonBlue();
	width: 30%;
	align-self: end;
}

.disable {
	pointer-events: none;
	opacity: 0.5;
	color: $text-gray;
}