<div class="channel-details">
	<div class="headline">
		<div class="left-section">
			<img
				src="assets/img/icons/hashtag_chat_inactive.png"
				alt="Hashtag icon"
			/>
			<span>{{ this.chatService.getChannelNameById(this.chatService.docRef) }}</span>
		</div>
		<div class="close-btn pointer" (click)="closeChannelDetails()">
			<img src="assets/img/icons/close_black.png" alt="Close icon" />
		</div>
	</div>

	<div
		class="border-style"
		[ngClass]="{ 'change-channel-name-active': isChannelNameEditable }"
	>
		<form
			class="channel-name"
			[formGroup]="channelName"
			(ngSubmit)="handleNameChange()"
		>
			<div class="top-section">
				<span>Channel-Name</span>
				@if(!isChannelNameEditable && this.checkChannelCreator()) {
				<button
					class="save-button pointer"
					(click)="toggleIsChannelNameEditable()"
				>
					Bearbeiten
				</button>
				} @else if(isChannelNameEditable && this.checkChannelCreator())
				{
				<button
					[disabled]="
						this.channelName.controls['chanName'].invalid ||
						this.channelName.controls['chanName'].value ===
							channelToEdit.name
					"
					type="submit"
					class="save-button pointer"
				>
					Speichern
				</button>
				}
			</div>
			<div class="headline-container">
				@if(!isChannelNameEditable) {
				<img src="assets/img/icons/hashtag_chat_inactive.png" alt="" />
				<span>{{ this.chatService.getChannelNameById(this.chatService.docRef) }}</span>
				} @else {
				<div class="input-wrapper">
					<input
						[ngClass]="{
							'input-warning':
								this.channelName.controls['chanName'].invalid &&
								this.channelName.controls['chanName'].touched &&
								this.channelName.controls['chanName'].dirty
						}"
						formControlName="chanName"
						class="channel-name-input input-img"
						type="text"
						placeholder="{{ this.chatService.getChannelNameById(this.chatService.docRef) }}"
					/>
					@if(this.channelName.controls['chanName'].invalid &&
					this.channelName.controls['chanName'].touched &&
					this.channelName.controls['chanName'].dirty) {
					<span
						>Sie benötigen mindestens 2 Buchstaben, um einen Kanalnamen zu speichern</span
					>
					}
				</div>
				}
			</div>
		</form>
	</div>

	<div
		class="border-style"
		[ngClass]="{
			'change-channel-name-active': isChannelDescriptionEditable
		}"
	>
		<form
			class="d-flex-col"
			[formGroup]="channelDescription"
			(ngSubmit)="handleDescriptionChange()"
		>
			<div class="top-section">
				<span>Beschreibung</span>
				@if(!isChannelDescriptionEditable && this.checkChannelCreator())
				{
				<button
					class="save-button pointer"
					(click)="toggleChannelDescription()"
				>
					Bearbeiten
				</button>
				} @else if(isChannelDescriptionEditable &&
				this.checkChannelCreator()) {
				<button
					[disabled]="
						this.channelDescription.controls['chanDescription']
							.invalid ||
						this.channelDescription.controls['chanDescription']
							.value === channelToEdit.description
					"
					type="submit"
					class="save-button pointer"
				>
					Speichern
				</button>
				}
			</div>

			<div class="headline-container">
				@if(!isChannelDescriptionEditable) {
				<span>{{ this.getChannelDescriptionById(this.chatService.docRef) }}</span>

				} @else {
				<div class="input-wrapper">
					<input
						[ngClass]="{
							'input-warning':
								this.channelDescription.controls[
									'chanDescription'
								].invalid &&
								this.channelDescription.controls[
									'chanDescription'
								].touched &&
								this.channelDescription.controls[
									'chanDescription'
								].dirty
						}"
						class="channel-name-input"
						type="text"
						placeholder="Channel-Beschreibung"
						formControlName="chanDescription"
						value="{{ this.getChannelDescriptionById(this.chatService.docRef)}}"
					/>
					@if(this.channelDescription.controls['chanDescription'].invalid
					&&
					this.channelDescription.controls['chanDescription'].touched
					&&
					this.channelDescription.controls['chanDescription'].dirty) {
					<span
						>You need at least 2 letters to save a channel
						description</span
					>
					}
				</div>
				}
			</div>
			<div class="divider"></div>
			<div class="top-section d-flex-start">
				<span>Erstellt von</span>
				<span
					(click)="openUserDetails()"
					class="creator-name-headlight pointer"
					>{{ channelCreatorName }}</span
				>
			</div>
		</form>
	</div>

	<button
		type="button"
		class="exit-button"
		[ngClass]="{ 'd-none': checkChannelCreator() }"
		(click)="this.leaveChannel()"
	>
		Channel verlassen
	</button>
</div>
