<div class="channel-details">
	<div class="headline">
		<div class="left-section">
			<img
				src="assets/img/icons/hashtag_chat_inactive.png"
				alt="Hashtag icon"
			/>
			<span>{{channelToEdit.name}}</span>
		</div>
		<div class="close-btn pointer">
			<img src="assets/img/icons/close_black.png" alt="Close icon" />
		</div>
	</div>

	<div
		class="border-style"
		[ngClass]="{ 'change-channel-name-active': isChannelNameEditable }"
	>
		<div class="channel-name">
			<div class="top-section">
				<span>Channel-Name</span>
				@if(!isChannelNameEditable) {
				<span
					class="save-button pointer"
					(click)="toggleIsChannelNameEditable()"
					>Bearbeiten</span
				>
				} @else {
				<span class="save-button pointer" (click)="saveChannelName()"
					>Speichern</span
				>
				}
			</div>
			<div class="headline-container">
				@if(!isChannelNameEditable){
				<img src="assets/img/icons/hashtag_chat_inactive.png" alt="" />
				<span>{{channelToEdit.name}}</span>
				} @else {
				<input
					class="channel-name-input input-img"
					type="text"
					placeholder={{channelToEdit.name}}
					minlength="2"
					required
				/>
				}
			</div>
		</div>
	</div>

	<div
		class="border-style d-flex-col"
		[ngClass]="{
			'change-channel-name-active': isChannelDescriptionEditable
		}"
	>
		<div class="top-section">
			<span>Beschreibung</span>
			@if(!isChannelDescriptionEditable) {
			<span
				class="save-button pointer"
				(click)="toggleChannelDescription()"
				>Bearbeiten</span
			>
			} @else {
			<span class="save-button pointer" (click)="saveChannelDescription()"
				>Speichern</span
			>
			}
		</div>

		<div class="headline-container">
			@if(!isChannelDescriptionEditable){
			<span>{{channelToEdit.description}}</span>

			} @else {
			<input
				class="channel-name-input"
				type="text"
				placeholder="Channel-Name"
				minlength="2"
				required
			/>
			}
		</div>
		<div class="divider"></div>
		<div class="top-section d-flex-start">
			<span>Erstellt von</span>
			<span class="creator-name-headlight">{{channelCreatorName}}</span>
		</div>
	</div>

	<button class="exit-button">Channel verlassen</button>
</div>
