<div class="channel-selection-wrapper">
    <div class="top-section">
        <div class="pointer close-icon" (click)="handleClickOnClose()" (mouseover)="onMouseOver()"
        (mouseout)="onMouseOut()">
        <img [src]="currentIconSourceClose" alt="close-icon" />
      </div>
    </div>
    @for (channel of this.searchService.channelSearchResults; track channel; let index = $index) {
        <div class="channel-container pointer" (click)="handleClickOnChannel(channel)">
  
            <span>{{ this.firebaseService.getChannelNameById(channel) }}</span>

        </div>
    }
</div>