<h1>Anmeldung</h1>
<h2>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</h2>
<div class="input_box">
    <img src="assets/img/email.png" alt="">
    <input type="text" placeholder="beispielname@email.com">
</div>
<div class="input_box">
    <img src="assets/img/password.png" alt="">
    <input type="text" placeholder="beispielname@email.com">
</div>
<a>Passwort vergessen?</a>
<div class="separator">
    <span>ODER</span>
</div>
<button class="login_with_google">
    <img src="assets/img/email.png" alt="">
    <span>Anmelden mit Google</span>
</button>
<div class="button_wrap">
    <button class="button_blue">Anmelden</button>
    <button class="button_white">Gäste-Login</button>
</div>