@import './../../../../styles.scss';

:host {
    @include dFlex();
    flex-direction: column;
    gap: 32px;
    max-width: 500px;
}

h1 {
    @include Nunito(700, 46px, 55.2px, $purple-1);
}

h2 {
    @include Nunito(400, 20px, 24px, $black);
    text-align: center;
}

form {
    @include dFlex();
    flex-direction: column;
    gap: 32px;
}

.input-box {
    @include dFlex($jc: flex-start);
    gap: 32px;
    background-color: $bg-color;
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0 32px;
    transition: all 0.1s;
    img {
        max-width: 20px;
        max-height: 21px;
        transition: all 0.1s;
    }
    input {
        @include Nunito(500, 18px, 21.6px, $text-gray);
        background-color: transparent;
        border: none;
        flex-grow: 1;
        height: 100%;
    }
    &:hover {
        border: 1px solid $text-gray;
    }
    &:focus-within {
        border: 1px solid $purple-3;
        img {
            filter: saturate(0%) brightness(0%);
        }
        input {
            outline: none;
            color: $black;
        }
    }
}

.button-wrap {
    @include dFlex();
    .button-blue {
        @include buttonBlue();
    }
}

.privacy-wrap {
    @include dFlex();
    input[type=checkbox] {
        width: 24px;
        height: 24px;
        appearance: none;
        background-image: url(./../../../../assets/img/icons/checkbox_default.png);
        background-position: center;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        margin-right: 8px;
        transition: all 0.1s;
        &:hover {
            cursor: pointer;
            background-image: url(./../../../../assets/img/icons/checkbox_default_hover.png);
        }
        &:checked {
            background-image: url(./../../../../assets/img/icons/checkbox_checked.png);
        }
        &:checked:hover {
            background-image: url(./../../../../assets/img/icons/checkbox_checked_hover.png);
        }
    }
    a {
        @include Figtree(400, 18px, 21.6px, $purple-2);
        padding: 2px 4px;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s;
        &:hover {
            background-color: $bg-color;
            font-variation-settings: 'wght' 500;
            padding: 2px 3.2px;
        }
    }
}

.back-button {
    @include dFlex();
    position: absolute;
    top: 53px;
    left: 40px;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.1s;
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        img {
            filter: invert(38%) sepia(54%) saturate(4920%) hue-rotate(227deg) brightness(95%) contrast(98%);
        }
    }
    img {
        transition: all 0.1s;
    }
}