<div [ngClass]="{'d-none': !isCreateChannelVisibleForm}" class="create-new-channel-form-wrapper">
  <div class="top-section">
    <h1>Channel erstellen</h1>
    <div class="pointer close-icon" (click)="toggleCreateChannelVisibility()">
      <img
        src="../../../../assets/img/icons/close_black.png"
        alt="close-icon"
      />
    </div>
  </div>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <form class="create-channel-form"
    [formGroup]="channelData" (ngSubmit)="createChannel()" 
    *ngIf="channelData">
    <span>Channel-Name</span>
    <input
      placeholder="# z.B. Kooperationsprojekte"
      formControlName="channelName"
    />

  @if (channelData.get('channelName')?.invalid && channelData.get('channelName')?.touched) {
    <span class=" error-msg">
        Bitte geben Sie einen gültigen Channel-Namen ein.
      </span>
    }

    <span>Beschreibung</span>
    <input
      placeholder="Dein Text hier..."
      formControlName="channelDescription"
    />

    <button class="pointer submit-btn" type="submit" [disabled]="channelData.invalid">
      Erstellen
    </button>
  </form>
</div>

<div [ngClass]="{'d-none': !isAddMemberVisibleForm}" class="add-member-new-channel-form-wrapper">
  <div class="top-section" (click)="this.toggleAddMemberFormVisibility()">
    <h1>Leute hinzufügen</h1>
    <div class="pointer close-icon">
      <img
        src="../../../../assets/img/icons/close_black.png"
        alt="close-icon"
      />
    </div>
  </div>
  <form class="add-member-new-channel-form">
    <div class="checkbox-wrapper">
      <input type="checkbox" />
      <label for="add-member-new-channel"
        >Alle Mitglieder von OfficeTeam hinzufügen</label
      >
    </div>
    <div class="checkbox-wrapper">
      <input type="checkbox" />
      <label for="add-member-new-channel">Bestimmte Leute hinzufügen</label>
    </div>
    <button class="pointer submit-btn" type="button" (click)="addMemberToChannel()" >
      Erstellen
    </button>
    
  </form>
  @for (user of this.firebaseService.userList; track user.userId; let index = $index) {
    <span (click)="this.pushSelectedUserToArray(user.userId)">{{user.name}}
      {{ user.userId }}</span>
  }
</div>
