@import '../../../../styles.scss';

.header-wrapper {
    @include dFlex(column, center, center);
    position: relative;
    box-sizing: content-box;
    .header-container {
        width: 100svw;
        height: 80px;
        padding: 15px 16px 15px 16px;
        @include dFlex(row, space-between, center);

        >.logo-container {
            @include dFlex(row, flex-start, center);
            width: 161.5px;
            height: 45px;
            gap: 10px;
            img {
                width: 45px;
                height: 45px;
            }
            @include Nunito(700, 24px, 16.22px, $black); 
        }
        .back-to-sidenav {
            @include dFlex(row, space-evenly, center);
            width: 175.57px;
            height: 50px;
            gap: 2px;

            img :first-child {
                width: 25px;
                height: 25px;
            }

            img :last-child {
                width: 50px;
                height: 50px;
            }

            span {
                @include Nunito(700, 24px, 16.22px, $black);  
                margin-left: 10px;
            }
        }
        >.user-avatar {
            @include dFlex(row, center, center);
            position: relative;
            >img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }

    }

}






.headline {
    @include Nunito(700, 32px, 18.8px, $black);
    text-wrap: nowrap;
}



