@import './../../../../styles.scss';

:host {
  width: 100%;
}

footer {
  @include dFlex();
  gap: 32px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  a {
    @include Figtree(400, 18px, 21.6px, $purple-2);
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.1s;
    &:hover {
      border: 1px solid $light-purple-lines;
      font-variation-settings: 'wght' 500;
      padding: 10px 14.5px;
    }
  }
}
