<h1>Anmeldung</h1>
<h2>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input_box">
        <img src="assets/img/icons/email.png" alt="">
        <input type="text" placeholder="beispielname@email.com" formControlName="email">
    </div>
    <div class="input_box">
        <img src="assets/img/icons/password.png" alt="">
        <input type="text" placeholder="beispielname@email.com" formControlName="password">
    </div>
    <a>Passwort vergessen?</a>
    <div class="separator">
        <span>ODER</span>
    </div>
    <button class="login_with_google">
        <img src="assets/img/icons/email.png" alt="">
        <span>Anmelden mit Google</span>
    </button>
    <div class="button_wrap">
        <button class="button_blue" type="submit">Anmelden</button>
        <button class="button_white">Gäste-Login</button>
    </div>
    <div *ngIf="errorMessage != ''">
        <span>{{ errorMessage }}</span>
    </div>
</form>