<div class="page-wrapper">
  <app-landing-header></app-landing-header>
  <div
    class="content-wrap"
    [ngClass]="{
      'padding-unset': this.communicationService.isMobileViewActive,
      'd-none': this.communicationService.isRotateDeviceVisible
    }"
  >
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    @if (this.router.url === "/") {
      <div>
        <div class="sign-up">
          <span>Neu bei DABubble?</span>
          <a routerLink="/signup">Konto erstellen</a>
        </div>
      </div>
    }
  </div>
  <app-landing-footer></app-landing-footer>
</div>
