<app-header></app-header>
<div class="home-container">
  <div class="sidenav-controller pointer" (click)="toggleSidenav()" (mouseover)="onMouseOver()"
    (mouseout)="onMouseOut()">
    <span>Workspace-Menü {{ isSidenavVisible ? "schließen" : "öffnen" }}</span>
    <img class="start-conversation" [src]="currentIconSourceMenu" alt="show-menu-icon"
      [class.sidenav-open]="isSidenavVisible" [class.sidenav-close]="!isSidenavVisible" />
  </div>
  <div class="home-content">
    <div [ngClass]="{
        'sidenav-visible': isSidenavVisible,
        'd-none': !isSidenavVisible
      }">
      <app-sidenav [isCreateChannelVisible]="isCreateChannelVisible" (createChannelVisibilityChange)="
          onCreateChannelVisibilityChange($event)
        "></app-sidenav>
    </div>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Popup Overlay Create Channel -->
  @if (isCreateChannelVisible) {
  <div class="popup-wrapper" (click)="closePopupOverlay('createChannel')"
    [ngClass]="{ 'visible': isCreateChannelVisible }">
    <div class="create-new-channel-content" (click)="preventClose($event)">
      <app-create-new-channel [isCreateChannelVisible]="isCreateChannelVisible" (createChannelVisibilityChange)="
      onCreateChannelVisibilityChange($event)
    "></app-create-new-channel>
    </div>
  </div>
  }
  <!-- Popup Overlay User Profile -->
  @if (isUserProfileVisible) {
  <div class="popup-wrapper" (click)="closePopupOverlay('userProfile')"
  [ngClass]="{ 'visible': isUserProfileVisible }">
    <div class="user-profile-content create-new-channel-content" (click)="preventClose($event)">
      <app-user-profile [isUserProfileVisible]="isUserProfileVisible" (userProfileVisibilityChange)="
      onUserProfileVisibilityChange($event)
    "></app-user-profile>
    </div>
  </div>
  }
</div>