@import "../../../styles.scss";

.home-wrapper {
  @include dFlex(row, flex-start, flex-start);
  position: relative;
  height: calc(100svh - 148px);
  width: 100%;
  padding: 16px;
  gap: 24px;
}

.sidenav-wrapper {
  width: 366px;
  height: 100%;
  z-index: 3;
  transform: translateX(0);

  &.slide-in {
    animation: slide-right 0.3s forwards;
  }

  &.slide-out {
    animation: slide-left 0.3s forwards;
  }

  &.d-none {
    display: none;
  }

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-120%);
    }
  }
}


.app-container {
  @include dFlex(row, center, center);
  width: 100%;
  height: 100%;
  gap: 24px;

  .app-wrapper {
    width: 100%;
    height: 100%;
  }
}


// sideNav controller	
.sidenav-controller {
  @include dFlex(row, center, center);
  width: 60px;
  height: 347px;
  background-color: $white;
  position: absolute;
  top: 400px;
  left: 0;
  z-index: 4;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  border-radius: 30px 0px 0px 30px;
  box-shadow: -1px 0 4px #00000033;
  gap: 16px;

  &:hover {
    span {
      @include Nunito(700, 20px, 24px, $purple-3);
    }
  }

  &:hover img {
    filter: invert(50%) sepia(37%) saturate(6446%) hue-rotate(220deg) brightness(99%) contrast(93%);
  }

  span {
    @include Nunito(500, 20px, 24px, $black);
  }
}

.sidenav-open {
  transform: scaleX(-1);
  transition: transform 0.3s;
}

.sidenav-close {
  transform: scaleX(1);
  transition: transform 0.3s;
}

//popup
.popup-wrapper {
  @include dFlex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  transition: background, ease-in-out 0.3s backdrop-filter;
  background: rgba(0, 0, 0, 0);
  z-index: 5;

  &.visible {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(0.8);
  }

  .popup-content-user-profile {
    position: absolute;
    top: 96px;
    right: 24px;
  }
}

.current-user-popup {
  z-index: 10;
}

.popup-channel-details {

}

.popup-channel-members {
  position: absolute;
  top: 190px;
  right: 140px;
}

// mobile view menu wrapper 
.mobile-popup-wrapper {
  @include dFlex(row, center, flex-end);
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0);
  z-index: 55;
  &.visible {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(0.8);
  }

  .mobile-user-menu-content {
    animation: slide-up 0.3s forwards;

    @keyframes slide-up {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }

    &.hide {
      animation: slide-down 0.3s forwards;
    }

    @keyframes slide-down {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(100%);
      }
    }
  }

}

// welcome screen
app-welcome-screen {
  width: 100%;
  height: 100%;
}

