@import "../../../styles.scss";

.home-content {
  @include dFlex(space-between, center);
  padding: 17.5px 24px;
  > .sidebar-placeholder {
    height: 88svh;
    width: 400px;
    background-color: #fff;
  }
  .group-chat-container {
    position: relative;
    padding: 25px 45px;
    height: 88vh;
    width: 1000px;
    background-color: #fff;
    @include dFlex(space-between, center);
    > .group-display {
      > .active-group-chat {
        @include dFlex(center, center);
        gap: 16px;

        > img:first-child {
          width: 22px;
          height: 23px;
        }

        > span {
          @include Nunito(700, 24px, 18.8px, $black);
        }

        > img:last-child {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
